{% verbatim %}
<section class="listing" ng-repeat="post in content.posts">
    <div class="icon">
        <a href="blog/{{ post.id }}" target="_blank">
            <img src="static/blog/imgs/{{ post.category.img_src }}" />
        </a>
    </div>
    <div class="listing-container">
        <div class="title"><a href="blog/{{ post.id }}" target="_blank">{{ post.title }}</a></div>
        <div class="date">{{ post.date_added | date:'longDate' }}</div>
        <p>{{ post.description }}</p>
    </div>
</section>
{% endverbatim %}