@font-face {
    font-family: quicksand;
    src: url('/static/fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: quicksand-bold;
    src: url('/static/fonts/Quicksand-Bold.otf');
}

#hero {
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #222222;
}

#hero canvas {
    width: 100%;
    height: auto;
}

#hero div {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 5px; bottom: 5px;
    left: 5px; right: 5px;
}

#hero div img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 2000px;
    border: 5px solid #222222;
}

#hero div span {
    color: white;
    display: block;
    font-size: 35pt;
    font-family: quicksand;
    padding-top: 20px;
}

#content {
    margin-top: -4px; /* Webkit bug; div does not surround canvas */
    border-top: 2px solid #222222;
}

#content-description {
    width: 80%;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 20px;
    font-family: quicksand;
}

#navigation {
    width: 60%;
    cursor: default;
    padding: 10px 0;
    margin: 20px auto 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

#navigation ul {
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
}

#navigation ul li {
    width: 24.5%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-family: quicksand-bold;
}

#navigation ul li.active {
    color: #00B9EB;
}

#navigation ul li span {
    cursor: pointer;
}

#footer {
    height: 250px;
    background-color: #222;
}

#contact-form {
    margin: 0;
    width: 45%;
    float: right;
    padding: 10px;
}

#contact-form fieldset {
    margin: 0;
    border-radius: 5px;
}

#contact-form fieldset legend {
    color: white;
    background: inherit;
    font-family: quicksand;
}

#contact-form textarea {
    height: 145px;
}