#content-description {
    width: 80%;
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 20px;
    font-family: quicksand;
}

#navigation {
    width: 60%;
    cursor: default;
    padding: 10px 0;
    margin: 20px auto 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

#navigation ul {
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
}

#navigation ul li {
    width: 24.5%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-family: quicksand-bold;
}

#navigation ul li.active {
    color: #00B9EB;
}

#navigation ul li span {
    cursor: pointer;
}