<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Online Portfolio</title>
        <link type="text/css" rel="stylesheet" href="{% static 'foundation/stylesheets/foundation.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/index.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'projects/css/projects.css' %}" />
    </head>
    <body ng-app="rootApplication">
        <div id="hero">
            <canvas width="1500" height="550"></canvas>
            <div id="hero-container">
                <div id="hero-outer">
                    <div id="hero-middle">
                        <div id="hero-inner">
                            <img src="{% static 'home/imgs/avatar.jpg' %}"/>
                            <span>Joshua Potter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="navigation">
                <ul>
                    <li class="active"><span>Projects</span></li>
                    <li><span>Blog</span></li>
                    <li><span>Research</span></li>
                    <li><span>Contact</span></li>
                </ul>
            </div>
            <!-- Partial -->
            <span id="content-description">List of notable projects I've worked on recently.</span>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/appetite.png' %}" />
                </div>
                <div class="description"></div>
            </section>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/fifth-cam.png' %}" />
                </div>
                <div class="description"></div>
            </section>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/gitit-notes.png' %}" />
                </div>
                <div class="description"></div>
            </section>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/lodestar.png' %}" />
                </div>
                <div class="description"></div>
            </section>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/mingle.png' %}" />
                </div>
                <div class="description"></div>
            </section>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/mini-java.png' %}" />
                </div>
                <div class="description"></div>
            </section>
            <section class="project">
                <div class="icon">
                    <img src="{% static 'projects/imgs/project-euler.png' %}" />
                </div>
                <div class="description"></div>
            </section>
        </div>
        <div id="footer">
            <div class="about-me">

            </div>
            <form id="contact-form">
                <fieldset>
                    <legend>Contact Me</legend>
                    <input type="email" placeholder="Your Email">
                    <textarea placeholder="Your Message"></textarea>
                </fieldset>
            </form>
        </div>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>-->
        <script src="{% static 'foundation/javascripts/foundation.min.js' %}"></script>
        <script src="{% static 'home/js/home.js' %}"></script>
    </body>
</html>