<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Online Portfolio</title>
        <link type="text/css" rel="stylesheet" href="{% static 'foundation/stylesheets/foundation.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/index.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'projects/css/projects.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.js"></script>
        <script src="{% static 'foundation/javascripts/foundation.min.js' %}"></script>
        <script src="{% static 'home/js/home.js' %}"></script>
    </head>
    <body style="position: relative;" ng-app="rootApplication">
	<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <div id="hero">
            <canvas width="1500" height="550"></canvas>
            <div id="hero-container">
                <div id="hero-outer">
                    <div id="hero-middle">
                        <div id="hero-inner">
                            <img src="{% static 'home/imgs/avatar.jpg' %}"/>
                            <span>Joshua Potter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" ng-controller="ContentController as content">
            <div id="navigation">
                <ul>
                    <li ng-class="{ active: content.isSet(1) }">
                        <span ng-click="content.setTab(1)">Projects</span>
                    </li>
                    <li ng-class="{ active: content.isSet(2) }">
                        <span ng-click="content.setTab(2)">Blog</span>
                    </li>
                    <li ng-class="{ active: content.isSet(3) }">
                        <span ng-click="content.setTab(3)">Research</span>
                    </li>
                    <li><span>Contact</span></li>
                </ul>
            </div>
            <div id="content-description">
                <span ng-show="content.isSet(1)">List of notable projects I've worked on recently.</span>
                <span ng-show="content.isSet(2)">My latest blog posts.</span>
                <span ng-show="content.isSet(3)">My latest research posts.</span>
            </div>
            <div ng-show="content.isSet(1)" ng-include="'projects/partials/list/'"></div>
        </div>
        <div id="footer">
            <div class="about-me"></div>
            <form id="contact-form">
                <fieldset>
                    <legend>Contact Me</legend>
                    <input type="email" placeholder="Your Email">
                    <textarea placeholder="Your Message"></textarea>
                </fieldset>
            </form>
        </div>
    </body>
</html>
