<!DOCTYPE html>
<html>
    {% load static %}
    <head>

        <title>FuzzyKayak</title>

        <link type="text/css" rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'foundation/css/foundation-icons.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'home/css/index.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'projects/css/projects.css' %}" />

        <!-- 3rd Party Scripts -->
        <script src="{% static 'vendor/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'vendor/velocity.min.js' %}"></script>
        <script src="{% static 'vendor/angular.min.js' %}"></script>
        <script src="{% static 'vendor/snap.svg-min.js' %}"></script>

        <!-- Foundation Specific -->
        <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
        <script src="{% static 'foundation/js/foundation/foundation.offcanvas.js' %}"></script>

        <!-- Angular Scripts -->
        <script src="{% static 'home/js/root-application.js' %}"></script>
        <script src="{% static 'blog/js/blog-application.js' %}"></script>
        <script src="{% static 'projects/js/projects-application.js' %}"></script>

        <!-- Custom Scripts -->
        <script src="{% static 'home/js/stage.js' %}"></script>
        <script src="{% static 'home/js/scroll.js' %}"></script>
        <script src="{% static 'home/js/sectors.js' %}"></script>

    </head>
    <body>
        <nav id="breadcrumbs" class="top-bar" data-topbar role="navigation">
            <ul class="title-area"><li class="name">JOSHUA POTTER</li></ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="has-dropdown">
                        <a id="nav-list" href="#"><i class="fi-list"></i></a>
                        <ul class="dropdown"></ul>
                    </li>
                </ul>
            </section>
        </nav>
        <div id="background-image"></div>
        <div id="background-pattern"></div>
        <div id="stage">
            Welcome!
        </div>
        <div id="viewport">
            <svg id="setting" viewbox="0 0 100 100" width="100" height="100" preserveAspectRatio="xMinYMax"></svg>
            <div id="icon-tray-bottom-triangle"></div>
            <div id="icon-tray">
                <a href="https://github.com/jrpotter" target="_blank">
                    <i class="fi-social-github"></i>
                </a>
            </div>
            <div id="scroll-indicator"><ul></ul></div>
            <div id="overlay" ng-app="rootApplication" root-pane></div>
        </div>
    </body>
</html>
