#post-content {
    width: 80%;
    margin: 0 auto;
    font-family: quicksand;
}

#post-content h2 {
    font-family: quicksand;
}

#post-content .title {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: quicksand-bold;
    border-bottom: 3px dotted #CCC;
}

#post-content .date {
    float: right;
    font-size: 25px;
    padding-top: 15px;
    font-family: quicksand;
}

#post-content .entry {
    padding: 10px;
    margin-bottom: 10px;
}
